<div class="container">
  <div class="header">
    <h1>LOGIN</h1>
    <a href="#" class="back-button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="15 18 9 12 15 6"></polyline></svg></a>
  </div>


  <div class="form">

      <label for="username">USERNAME</label>
      <input type="text" name="username" placeholder="Enter your username" [(ngModel)]="username" />
    
      <label for="password">PASSWORD</label>
      <div class="password-container">
        <input [type]="isPasswordVisible ? 'text' : 'password'" name="password" placeholder="Enter your password" [(ngModel)]="password"/>
        <button type="button" (click)="togglePasswordVisibility()" class="toggle-password">
          <ng-container *ngIf="isPasswordVisible; else closedEye">
            <!--  occhio aperto -->
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8S1 12 1 12z"></path>
              <circle cx="12" cy="12" r="3"></circle>
            </svg>
          </ng-container>
          <ng-template #closedEye>
            <!--  occhio chiuso -->
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8S1 12 1 12z"></path>
              <path d="M2 2l20 20"></path>
            </svg>
          </ng-template>
        </button>
      </div>
    <div class="button-container">
      <button (click)="login() " class="button" id="login">LOGIN</button>
    </div>
  </div>
</div>



  
			
            
          
