<div class="container">
    <h1 class="phrase">Share your book and create new friendships</h1>
    <div class="button-container">
      <button (click)="goToUserProfile()"  class="btn" >VIEW PROFILE</button>
      <button (click)="goToListBook()"  class="btn">BOOK LIST</button>
      <button  (click)="goToUploadBook()" class="btn">UPLOAD BOOK</button>
      <button  (click)="goToSearchBook()"   class="btn">SEARCH BOOK</button>
    </div>

    <button (click)="goToHome()"  class="logout">LOGOUT</button>


  </div>
