<div class="container">
    <h1 class="phrase">Share your book and create new friendships</h1>
    <div class="button-container">
      <button (click)="goToUserProfile()"  class="btn" >View Profile</button>
      <button (click)="goToListBook()"  class="btn">Book List</button>
      <button  (click)="goToUploadBook()" class="btn">Upload Book</button>
      <button  (click)="goToSearchBook()"   class="btn">Search Book</button>
      <button  (click)="goToBookingHistory()"   class="btn">Booking History</button>
    </div>

    <button (click)="goToHome()"  class="logout">Logout</button>


  </div>
